.news-section {
  margin-bottom: 32px;
  padding-left: 16px;
}
.section-title {
  margin: 0;
  text-transform: capitalize;
  padding: 10px 0 10px 8px;
  text-shadow: none;
}
.channel-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 24px;
  padding: 16px 24px 16px 24px;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
.channel-list::-webkit-scrollbar {
  display: none;
}
.channel-list > .channel-card-rect:first-child {
  margin-left: 12px;
}
.channel-list > .channel-card-rect:last-child {
  margin-right: 12px;
}
